{% extends 'FrontEnd/layout.html.twig' %}
{% block title %}Forum{% endblock title %}


{% block javascripts %}

{% endblock javascripts %}



    {% block content %}
<br>
<br>
<br>
<br>
<br>



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>


</div>

<div class="container"  style="background-color:#66CDAA;">
    <!--  <center><h2><b><i>Ajout d'une Annonce</i></b></h2></center>-->
    <form method="post" action="">

        <div class="form-group">
            <label for="pwd">title:</label>
            <input type="text" class="form-control" id="lieu" placeholder="Entrer title" name="title" required>
        </div>
        <div class="form-group">
            <label for="pwd">Details</label>
            <input type="text" class="form-control" id="date" placeholder="Entrer details" name="details" required>
        </div>
        <div class="form-group">
            <label for="pwd">video:</label>
            <input type="file" class="form-control" id="desc" placeholder="Entrer video" name="video"  accept="video/*"required>
        </div>

        <center>
            <input type="submit"  value="modifier">
        </center>
    </form>
</div>

</body>
</html>
    {% endblock content %}